[submodule "unicorn"]
    path = /workspace/activities/opml/unicorn
    url = https://github.com/geohot/unicorn.git
[submodule "mlgo"]
    path = /workspace/activities/opml/mlgo
    url = https://github.com/someuser/mlgo.git
